doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      @import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js',integrity='sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=',crossorigin="anonymous")
  body
    block content
